$path-font: "../fonts";
$path-image: "../img";

$colorWhite: #fff;
$colorBlack: #000;
$animationDuration: 0.5s;

//$mobile:      ~"only screen and (max-width: 768px)";
//$tablet:      ~"only screen and (min-width: 769px) and (max-width: 992px)";
//$desktop:     ~"only screen and (min-width: 769px)";
//$desktop-sm:  ~"only screen and (min-width: 1199px)";
//$desktop-xl:  ~"only screen and (min-width: 1439px)";

$fontCalibre: 'Calibre', Helvetica, Arial, sans-serif;
$fontAwesome: 'FontAwesome';